button {
    display: inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: white;
    font-weight: bold;
    background-color: red;
    text-align:center;
    transition: all 0.2s;
    width: 90px;
    height: 60px;

}

.askQuestion {
    position: absolute;
    right: 3%;
    top: 1%;

}
h1 {
    font-family: sans-serif;
    color: red;
}


h1.questionTitle {
    color: red;
    text-decoration: none;
    margin-left: 5px;
}

main {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: rgb(220, 220, 220)
}
