/* button {
    display: inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: white;
    font-weight: bold;
    background-color: red;
    text-align:center;
    transition: all 0.2s;
    width: 90px;
    height: 60px;

} */

/* .askQuestion {
    position: absolute;
    right: 3%;
    top: 1%;

} */
/* h1 {
    font-family: sans-serif;
    color: red;
} */


.questionBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    border: 2px solid white;
}

.questionFeed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: 200;
    color: white;
    font-family:'Courier New', Courier, monospace;
}

h2.questionTitle {
    color: white
}

a:link {
    text-decoration: none!important;
}

.feed {
    margin-left: 85vh;
    margin-top: 10vh;
}
